# Core Packages
python-telegram-bot==20.8  # बॉट के लिए मुख्य लाइब्रेरी
aiohttp==3.8.5  # एसिंक्रोनस रिक्वेस्ट्स के लिए
flask==2.3.2
gunicorn==21.2.0  # प्रोडक्शन सर्वर


# Data Analysis
pandas==1.5.3  # डेटा प्रोसेसिंग
numpy==1.26.0  # पांडास डिपेंडेंसी
yfinance==0.2.18  # मार्केट डेटा

# Web Server
fastapi==0.111.0
uvicorn==0.30.0

# Utilities
python-dotenv==1.0.1  # .env फाइल सपोर्ट
cachetools==5.3.1  # API कैशिंग
requests==2.32.3  # सिंपल HTTP रिक्वेस्ट्स
pip==23.3.1  # स्टेबल वर्जन
setuptools==68.0.0
wheel==0.41.2
